.about {
  @include flex;
  margin-top: 77.81px;
  justify-content: center;
  flex-wrap: wrap;

  &-image {
    margin-right: 40px;
    @media (max-width: map-get($breakpoints, xxl)) {
      margin: 0;
      margin-bottom: 40px;
    }
    img {
      max-width: 100%;
    }
  }

  &-info {
    max-width: 46%;
    margin-left: 40px;
    @media (max-width: map-get($breakpoints, xxl)) {
      max-width: 100%;
      margin-left: 0px;
    }

    &-header {
      margin-bottom: 0px 35px;
      &_title {
        font-weight: 500;
        font-size: 48px;
        line-height: 57px;
        margin-bottom: 2px;
      }
      &_text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $text-secondary;
        margin-top: 21px;
      }
    }
    &-bottom {
      @include flex;
      @media (max-width: map-get($breakpoints, xxl)) {
        justify-content: space-around;
      }
      @media (max-width: map-get($breakpoints, md)) {
        flex-wrap: wrap;
      }
      .about-category {
        max-width: 300px;
        &-icon {
          height: 40px;
          width: 40px;
          margin: 25px 0px;
        }
        &-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        &-text {
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: $text-secondary;
        }
      }
    }
  }
}
