.client {
  margin: 40px 0px;

  &-header {
    margin-bottom: 40px;

    @media (max-width: 426px) {
    :first-child {
      :nth-child(2) {
        width: 236px !important;
      }
    }
    }
  }
  &-gallery {
    @include flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    .client-image {
      filter: brightness(0);

      &:hover {
        transition: 200ms;
        cursor: pointer;
        filter: brightness(1);
      }
    }

    &-first {
      @include flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }
    &-second {
      @include flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }
  }
}
