nav {
  padding: 15px 0px !important;

  .logo {
    height: 85px;
    @media (max-width: map-get($breakpoints, lg)) {
      height: 74px;
    }
    @media (max-width: map-get($breakpoints,md)) {
      height: 60px;
    }
    @media (max-width: 310px) {
      height: 50px;
    }
  }
  .nav-links {
    padding: 0px 35px !important;
  }
}
  