.project {
  margin-bottom: 88px;
  &-header {
    margin: 34px 0px;
  }
  .project-image {
    @media (max-width: map-get($breakpoints, lg)) {
      max-width: 100%;
    }
  }
  @media (max-width: 426px) {
    .project-header:first-child {
      :nth-child(2) {
        width: 259px !important;
      }
    }
  }
  .project-body {
    position: relative;

    .project-text {
      display: none;
      position: absolute;
      bottom: 2rem;
      color: white;
      left: 5rem;
      font-size: 3rem;
      text-align: start;
    }

    :hover {
      transition: 600ms;
      cursor: pointer;
      opacity: 0.5;
    }

    background-color: #1e82b1;
    .project-image {
      width: 100%;
    }
  }
}

.project1:hover #p1 {
  transition: 1200ms;
  display: block;
}
.project2:hover #p2 {
  transition: 1200ms;
  display: block;
}
.project3:hover #p3 {
  transition: 1200ms;
  display: block;
}
