.assets1 {
  position: absolute;
  left: 0px;
  top: 0px;
  @media (max-width: map-get($breakpoints, lg)) {
    height: 6rem;
  }
  @media (max-width: map-get($breakpoints,md)) {
    height: 5rem;
  }
  @media (max-width: map-get($breakpoints,sm)) {
    height: 4rem;
  }
}

.assets2 {
  position: absolute;
  right: 0px;

  @media (max-width: map-get($breakpoints, lg)) {
    height: 16rem;
  }
  @media (max-width: map-get($breakpoints,sm)) {
    height: 12rem;
  }
}
.assets3 {
  position: absolute;
  left: 0;
  top: 338px;

  @media (max-width: map-get($breakpoints, lg)) {
    height: 36rem;
  }
}
.assets5 {
  position: absolute;
  top: 86rem;
  max-width: 17%;
  z-index: -1;
}
.assets6 {
  position: absolute;
  right: 0;
  max-width: 17%;
  top: 128rem;
  z-index: -1;
}
.assets7 {
  position: absolute;
  left: 0;
  max-width: 17%;
  top: 159rem;
  z-index: -1;
}
.assets8 {
  position: absolute;
  right: 0;
  max-width: 17%;
  top: 193rem;
  z-index: -1;
}
.assets9 {
  position: absolute;
  left: 0;
  max-width: 19%;
  top: 223rem;
  z-index: -1;
}
.assets10 {
  position: absolute;
  right: 0;
  max-width: 16%;
  top: 253rem;
  z-index: -1;
}
.assets11 {
  position: absolute;
  left: 0;
  max-width: 16%;
  top: 316rem;
  z-index: -1;
}
