@import "./variables";
@import "./common";
@import "./navbar";
@import "./vector";
@import "./hero";
@import "./about";
@import "./services";
@import "./team";
@import "./projects";
@import "./client";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: $bg-color;
}

.container {
  @media (min-width: map-get($breakpoints, xxl)) {
    max-width: 1350px !important;
  }
}
